<div class="box-large-white">
  <h2 class="text-center">Editar perfil</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, label: "Nova senha", autocomplete: "off", hint: "deixar vazio para nao mudar a senha", required: false %>
      <%= f.input :password_confirmation, label: "Confirmar senha", required: false %>
      <%= f.input :current_password, label: "Senha", hint: "precisamos da sua senha para confirmar mudanças", required: true %>
      <%= f.input :first_name, label: "Nome" %>
      <%= f.input :last_name, label: "Sobrenome" %>
      <%= f.input :dob, label: "Data de nascimento" %>
      <%= f.input :bio, label: "Biographia" %>
      <%= f.input :interests, label: "Hobbies" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Confirmar", class: "btn btn-green btn-block btn-margin"   %>
    </div>
  <% end %>

  <br><p><%= link_to "Fechar conto", registration_path(resource_name), class: "btn btn-default btn-block btn-margin", data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Voltar", :back, class: "btn btn-default btn-block btn-margin"   %>
</div>
