<h1>Republicas List</h1>

<ul>
<% @republicas.each do |republica| %>
  <li>
   <%= republica.name %>
   <%= republica.address %>
   <%= republica.vacancies %>
   <%= link_to "Show", republica_path(republica) %>
   <%= link_to "Edit", edit_republica_path(republica) %>
   <%= link_to "Delete", republica_path(republica),
         method: :delete,
         data: { confirm: "Are you sure?" } %>
  </li>
<% end %>
</ul>
