<div class="index-container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="box-generic">
        <% word = @results.length >= 2 ? 's' : '' %>
        <h4 class="text-center"><%= @results.length %> resultado<%= word %> de republicas em <%= params[:city] %></h4>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-sm-offset-1">
      <div class="republica-filter box-generic text-center">
        <h4 class="text-center">Filters</h4 class="text-center">
        <div class="btn btn-default btn-fourth">Filter 1</div>
        <div class="btn btn-default btn-fourth">Filter 2</div>
        <div class="btn btn-default btn-fourth">Filter 3</div>
        <div class="btn btn-default btn-fourth">Filter 4</div>
      </div>
      <br>
      <div class="search-results">
        <div class="card-container">
          <div class="row">
            <% @results.each do |republica| %>
              <div class="col-xs-12 col-sm-6">
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path republica.photos.first.path %>')">
                  <div class="card-avatar">
                    <% avatar_url = republica.user.facebook_picture_url || "http://placehold.it/30x30" %>
                    <%= image_tag avatar_url, class: "avatar-bordered" %>
                  </div>
                  <div class="card-title"><%= republica.name %></div>
                  <%= link_to '', republica_path(republica), class: "card-link" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="box-generic" style="padding: 0">
        <div id="map" style="height: 600px"></div>
      </div>
    </div>
  </div>
</div>





<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
