<div class="index-container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="box-generic">
        <% word = @results.length >= 2 ? 's' : '' %>
        <h3 class="text-center"><%= @results.length %> resultado<%= word %> de republicas em <%= params[:city] %></h3>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-sm-offset-1">
      <div class="republica-filter box-generic">
        <h3 class="text-center">Filters</h3 class="text-center">
      </div>
    </div>
    <div class="col-xs-12 col-sm-7">
      <div class="search-results box-generic">
        <ul>
        <% @results.each do |republica| %>
          <li>
           <%= republica.name %>
           <%= republica.address %>
           <%= republica.vacancies %>
           <%= link_to "Show", republica_path(republica) %>
           <%= link_to "Edit", edit_republica_path(republica) %>
           <%= link_to "Delete", republica_path(republica),
                 method: :delete,
                 data: { confirm: "Are you sure?" } %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>



<div id="map" style="width: 100%; height: 300px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
