<h1>Name: <%=@republica.name%></h1>
   Address: <%= @republica.address %> <br>
   Description: <%= @republica.description %> <br>
   N° vacancies: <%= @republica.vacancies %> <br>
   User e-mail: <%= @republica.user.email %> <br>
    <%= link_to 'Back', republicas_path %>


