<h1>Name: <%=@republica.name%></h1>
   Address: <%= @republica.address %> <br>
   Description: <%= @republica.description %> <br>
   N° vacancies: <%= @republica.vacancies %> <br>
   User e-mail: <%= @republica.user.email %> <br>
  <% @republica.photos.each do |photo| %>
    <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %> <br>
  <% end %>
  <br>
    <%= link_to 'Back', republicas_path, class: "btn btn-primary"  %>
    <%= link_to "Book!", new_republica_booking_path(@republica), class: "btn btn-primary" %> <br>
