<h1>Your's Booking List</h1>
<div class='container'>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Check-in</th>
        <th>Check-out</th>
        <th>Status</th>
      </tr>
    </thead>
    <br>

    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td style="width:300px"><%= booking.republica.name %></td>
          <td style="width:300px"><%= booking.republica.address %></td>
          <td style="width:100px"><%= booking.check_in %></td>
          <td style="width:100px"><%= booking.check_out %></td>
          <td style="width:100px"><%= booking.status %></td>
          <% if booking.status != "A" %>
            <td style="width:100px"><%= link_to 'Edit', edit_republica_booking_path(booking.republica, booking), class: "btn btn-primary" %></td>
          <% end %>
          <% if booking.status != "C" %>
              <td style="width:100px"><%= link_to 'Cancel', cancel_republica_booking_path(booking.republica, booking), class: "btn btn-default"%></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Back', root_path %> |


