
<div class='container'>
  <h1><strong>Your's Booking List</strong></h1>

  <% if @bookings %>
    <div class="republica-container">
      <% @bookings.each do |booking| %>
        <div class="republica-line">
          <div class="republica-image">
              <%= cl_image_tag booking.republica.photos[0].path, width: 250, height: 150, crop: :fill %>
          </div>
          <div class="republica-content text-center">
            <strong><%= booking.republica.name %> <br>
             <%= booking.republica.address %></strong> <br>
            Check-in: <%= booking.check_in %><br>
            Check-out: <%= booking.check_out %><br>
            Status: <%= booking.status %><br>
          </div>

          <div class="republica-actions text-center">
            <% if booking.status != "A" %>
            <%= link_to 'Edit', edit_republica_booking_path(booking.republica, booking), class: "btn btn-primary" %>
            <% end %>
            <% if booking.status != "C" %>
              <%= link_to 'Cancel', cancel_republica_booking_path(booking.republica, booking), class: "btn btn-default"%>
            <% end %>

          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <br>

  <%= link_to 'Back', root_path %> |
</div>

