<h1>Show</h1>

<p>
  <Name:>
  <%= @republica.name %>
</p>
<br>

<p>
  <Addres:>
  <%= @republica.address %>
</p>
<br>

<p>
  <Description:>
  <%= @republica.description %>
</p>
<br>

<p>
  <Check-in:>
  <%= @booking.check_in %>
</p>
<br>

<p>
  <Check-ou:>
  <%= @booking.check_out %>
</p>
<br>

<p>
  <Status:>
  <%= @booking.status %>
</p>
<br>

